<h2>Successfully authenticated!</h2>
<h3>You can see your information below</h3>
<p>Username: {{username}}</p>
<p>First Name: {{firstName}}</p>
<p>Last Name: {{lastName}}</p>
<p>Profession: {{profession}}</p>
<p>Bio: {{bio}}</p>
<a href="/logout">Click Here to Log Out</a>